@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


:root {
    --primary-color: #2EBEF3FF;
    --second-color: #FFFC9FFF;
}


.bg-white-200 {
    background-color: rgba(255, 255, 255, .8)
}

.bg-linear-color {
    background: linear-gradient(-15deg, #2EBEF3FF, #FFFC9FFF) !important;
}