@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


:root {
    --primary-color: #14B8A6;
    --second-color: #FFFC9F;
}

.text-highlight {
    color: var(--primary-color) !important;
}

.text-highlight:hover {
    color: #0D9488 !important;
}

.title-underline span {
    cursor: pointer;
    color: #000;
    background: linear-gradient(to right, #14B8A6, #14B8A6) no-repeat right bottom;
    background-size: 0 2px;
    transition: background-size 800ms;
}

.title-underline span:hover {
    color: var(--primary-color) !important;
    background-position-x: left;
    background-size: 100% 2px;
}


.bg-white-200 {
    background-color: rgba(255, 255, 255, .8)
}

.bg-linear-color {
    background: linear-gradient(-15deg, #14B8A6, #FFFC9FFF) !important;
}


/*md样式*/

.md-editor-catalog-link span:hover {
    color: var(--primary-color) !important;
}

.md-editor-catalog-active > span {
    color: var(--primary-color) !important;
}