.headerContent {
    max-width: 1200px;
    width: 92%
}

.home {
    position: relative;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
